<h1>Admin Dashboard</h1>

<table class="table" style="color: white;">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Admin?</th>
      <th>HOIC</th>
      <th>LOIC</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.admin? %></td>
        <td>
        <% unless user.admin? %>
        <%= link_to "Activate HOIC", admin_dashboard_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user? In addition to the user, their content, and all the content dependent on their content will be deleted. This action cannot be undone."} %>
        <% end %>
        </td>
        <td> 
        <% unless user.admin? %>
        <%= link_to "Activate LOIC", user_path(user), method: :delete, data: {confirm: "Are you sure you want to delete this user? Their content will remain. This action cannot be undone."} %>
        <% end %>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>


