<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @video_comment.body %>
</p>

<%= link_to 'Back to Video', video_path(@video) %> 





<% if false %>
<!-- # <%= link_to 'Back', post_path(@post) %> -->
<%= link_to 'Back to Post', post_path(@post) %> 
<% end %>





