<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-4">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay">
        <%= image_tag("codecore.jpg", class: "img-fluid") %>

        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->
      <% if false %>
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
      </a>
      <% end %>

      <h4 class="h4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet augue interdum risus lobortis, non hendrerit ex scelerisque. Proin dapibus efficitur ullamcorper. Nam nec dolor quis justo venenatis hendrerit a quis ligula. Suspendisse facilisis, felis sed molestie posuere, orci nulla fermentum nulla, egestas ultricies ex nisl sed nibh.</h4>

      <p class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet augue interdum risus lobortis, non hendrerit ex scelerisque. Proin dapibus efficitur ullamcorper. Nam nec dolor quis justo venenatis hendrerit a quis ligula. Suspendisse facilisis, felis sed molestie posuere, orci nulla fermentum nulla, egestas ultricies ex nisl sed nibh.</p>
      <p class="font-weight-normal"><a><strong>Forrest Wong</strong></a></p>

      <%= link_to 'Read More', about_path, class: "btn btn-success" %>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<p id="notice"><%= notice %></p>

<h1>Latest Videos</h1>
<h5><%= link_to 'New Video', new_video_path %></h5>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <% @videos.each do |video| %>
    <div class="col-lg-4 col-md-3 col-sm-2">
    <div class="">
        <%= link_to image_tag(video.thumbnail, class: "img-thumbnail thumbnail img-fluid"), video %>
        </div>
        <%= video.title %><br>
        <small>Posted by <%= video.user&.full_name || "[DELETED]" %></small>
    </div>
  <% end %>
</div>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
        <td>
        <div style="width:400px; height:400px; float: left;">
<%= video_tag(url_for(video.clip), style:'width:100%;height:auto', controls: '') %>
</div>
<small>Posted by <%= video.user&.full_name || "[DELETED]" %></small>
</td>
        <td><%= link_to 'Show', video %></td>
        <% if user_signed_in? && can?(:manage, video)%>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>



<hr> 

<h1>Latest Pictures</h1>
<h5><%= link_to 'New Picture', new_picture_path %></h5>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <% @pictures.each do |picture| %>
    <div class="col-lg-4 col-md-3 col-sm-2">
    <div class="">
        <%= link_to image_tag(picture.picture, class: "img-thumbnail thumbnail img-fluid"), picture %>
        </div>
        <%= picture.title %><br>
        <small>Posted by <%= picture.user&.full_name || "[DELETED]" %></small>
    </div>
  <% end %>
</div>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.description %></td>
        <td style="width:400px; height:400px;"><%= image_tag(picture.picture, style:'width:100%;height:auto') %>
        <small>Posted by <%= picture.user&.full_name || "[DELETED]" %></small>
        </td>
        <td><%= link_to 'Show', picture %></td>
        <% if user_signed_in? && can?(:manage, picture)%>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>



<hr>

<h1>Latest Forum Posts</h1>
<h5><%= link_to 'New Post', new_post_path %></h5>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post, {:style=> 'color:white;'} %></td>
        <td><%= post.body %></td>
        <% if false %>
        <td><%= link_to 'Show', post %></td>
        <% if user_signed_in? && can?(:manage, post)%>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <% end %>
        <td><small>Posted by <%= post.user&.full_name || "[DELETED]" %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


